
/*中间分类区域开始*/
.grid {
    height: 480px;
}
/*分类区第一栏开始*/
.grid-col1{
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color:#ffffff;
    font-size: 14px;
    /*不是给字的，是给反斜杠的*/
    position: relative;
}

.ad{
    width: 250px;
    height: 480px;
    background-color: pink;
    position: absolute;
    left: -250px;
    top: 0px;
}
.ad-r{
    position: absolute;
    top:0;
    left: 250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background: url("../images/ad-r.jpg");
    /*这个图片加动画，给这个图片添加过度*/
    transition: all 0.8s;
}
.ad:hover .ad-r{
    width: 990px;
    /*鼠标经过ad的大盒子的时候，宽度由0变为990*/
}
.grid-col1 a{
    color:#ffffff;
    font-size: 14px;
    /*给字的*/
    margin:0 3px;
}
.grid-col1 ul{
    padding: 15px 0;
}
.grid-col1 ul li{
    padding-left: 12px;
    /*不用margin,因为有鼠标经过的效果*/
    height: 29px;
    line-height: 26px;
}
.grid-col1 a:hover{
    color: #f10215;
}
.grid-col1 ul li:hover{
    background-color: #9c9698;
}
/*分类区第一栏结束*/


/*分类区第二栏开始*/
.grid-col2{
    width: 790px;
    height: 100%;
    background-color:#f6f6f6;
    margin-left: 10px;
}
.grid-col2-l{
    float: left;
    position: relative;

}
.grid-col2-r{
    float: right;
}
.grid-col2-r div{
    margin-bottom: 10px;
}

.arrow-l,.arrow-r{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color:rgba(255,255,255,0.6);
    font-family:Arial;
    font-weight: normal;
}
.arrow-r{
    right: 0;
}

.circle{
    width: 167px;
    height: 20px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 8px;
}

.circle li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px;
    cursor: pointer;
}
.circle .current{
    background-color: #f10215;
}
/*分类区第二栏结束*/

/*分类区第三栏开始*/
.grid-col3{
    width: 190px;
    height: 100%;
}
/*登录部分*/
.login{
    height: 85px;
    border-bottom:1px solid #ccc;
    background-color: #f6f6f6;
    padding:15px;
}
.login-t{
    width: 95px;
    height: 55px;
    font-size: 12px;
    line-height: 20px;
    /*显示省略号的三步*/
    white-space: nowrap; /*强制一行显示*/
    overflow: hidden; /*溢出部分隐藏*/
    text-overflow:ellipsis;/*超出的部分显示省略号*/
    color:#666;
    padding-left:60px;
    /*给padding 把文字挤过来*/
    position: relative;
}
.login-t a{
    color:#666;
}

.login-t a:hover{
    color: #f10215;
}

.login-t-lk{
    display: block;
    width: 40px;
    height: 40px;
    border: 5px solid #e3e1df;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 6px 25px #c3c3c3;
    position: absolute;
    left: 0;
    top:0;
}
.login-t-lk img{
    width: 40px;
    height: 40px;
}

.login-b a{
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height:20px;
    border: 2px solid #f10215;
    margin-right: 3px;
    text-align: center;
    color: #f10215;
}

.login-b a:hover{
    background-color: #f10215;
    color: #f6f6f6;
}
/*新闻部分*/
.news{
    height: 154px;
    border-bottom:1px solid #ccc;
    background-color: #f6f6f6;
    padding: 7px 13px 0;
    box-sizing: border-box;
    /*不用减去padding了*/
}
.news-t{
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;

}
.news-t div{
    height: 2px;
    width: 28px;
    background-color:#f10215;
    position: absolute;
    left:0;
    bottom: -1px;
}

.news-t a{
    float: left;
    height:17px;
    line-height: 17px;
}
.cuxiao{
    width: 38px;
    border-right: 1px solid #ccc;

}
.gonggao{
    margin-left: 15px;
}
.news-t .more{
    float: right;
}

.news-b{
    padding-top: 15px;

}
.news-b li{
    height: 23px;
    line-height: 23px;
}

/*扩展模块*/
.expand{
    height: 209px;
    /*border-bottom:1px solid #ccc;*/
    background-color: #f6f6f6;
    overflow: hidden;
    /*这个宽度继承了父亲的190，多出的1像素就隐藏了*/
}
.expand ul{
    width: 195px;
    /*父亲是190 但是里面的li太宽了，所以加宽，让ul宽度变大*/
}
.expand li{
    width: 47px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
}

.expand li a{
    display: block;
    padding-top: 15px;
    text-align: center;
}

.expand li i{
    display: block;
    margin:0 auto;
    background: url("../images/sprite.service.png") no-repeat;
    width: 24px;
    height: 24px;
    /*margin: 4px auto 0;*/
}
.expand li:first-child i{
    background-position:-145px -42px;
}
.expand li:nth-child(2) i{
    background-position:-29px -42px;
}
.expand li:nth-child(3) i{
    background-position:-58px -42px;
}
.expand li:nth-child(4) i{
    background-position:-87px -42px;
}
.expand li:nth-child(5) i{
    background-position:-116px -42px;
}
.expand li:nth-child(6) i{
    background-position:-116px -71px;
}
.expand li:nth-child(7) i{
    background-position:-174px -42px;
}
.expand li:nth-child(8) i {
    background-position:0 -71px;
}
.expand li:nth-child(9) i{
    background-position:-29px -71px;
}
.expand li:nth-child(10) i{
    background-position:-58px -71px;
}
.expand li:nth-child(11) i{
    background-position:-87px -71px;
}
.expand li:nth-child(12) i{
    background-position:0 -42px;
}





/*分类区第三栏结束*/
